body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#landing {
     height: 100vh;
}

#pfp {
     max-width: 25vw;
     max-height: auto;
}

#pfp-mobile {
     max-height: 50vw;
     max-width: auto;
     margin: auto;
     display: block;
}

#landing h1 {
     font-family: 'Ubuntu', sans-serif;
     font-weight: 700;
     color: #1b4d91;
}

#landing h4 {
     font-family: 'Encode Sans Condensed', sans-serif;
     font-weight: 400;
     color: #1e68ac;
}

#projects h1 {
     font-family: 'Ubuntu', sans-serif;
     font-weight: 500;
     margin-bottom: 0px;
}

#projects h4 {
     font-family: 'Ubuntu', sans-serif;
     font-weight: 500;
     margin-top: 0px;
}

.fade-in-top {
	-webkit-animation: fade-in-top 0.75s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
	        animation: fade-in-top 0.75s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.1s both;
}

.fade-in-left {
	-webkit-animation: fade-in-left 0.75s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.8s both;
	        animation: fade-in-left 0.75s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.8s both;
}

.fade-in {
	-webkit-animation: fade-in 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
	        animation: fade-in 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-1-3 20:27:50
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-1-3 20:29:51
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-1-3 20:30:58
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
