* {
	/*Debug: enable below line to see all boxes
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin: 0;
	padding: 0;
	box-sizing: border-box;*/
	overflow: hidden;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
#spacer {
	flex: 0.25;
}
body h1 {
	font-family: "Ubuntu", sans-serif;
	font-size: 7vw;
	background-color: transparent;
}
body h3 {
	font-family: "Lato", sans-serif;
	font-size: 2.5vw;
}
#tag {
	margin-top: -30px;
}
.button, .slash {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
.button p, .slash p {
	font-family: "Asap", sans-serif;
	font-size: 1.5vw;
}
.button:hover, .icon:hover {
	cursor: pointer;
}
#spacer2 {
	flex: 0.60;
}
.footer {
	text-align: right;
	margin-right: 5vw;
}
.icon {
	margin: 1%;
	width: 3vw;
	height: 3vw;
}