* {
	/*Debug: enable below line to see all boxes*/
	/*border: 1px solid rgba(0, 0, 0, 0.3);*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*header*/
.header-bg {
	background-color: black;
}
header .row, footer .row {
	display: flex;
	align-items: center;
	padding: 20px 0px;
}
header h1 {
	color: white;
	font-family: "Lato", sans-serif;
	font-weight: 900;
	margin: 0;
}
header nav {
	display: flex;
	justify-content: flex-end;
}
header p, footer p {
	color: Gainsboro;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	padding: 0px 20px;
	margin: 0px;
}
/*change color and move on hover*/
header p:hover, footer p:hover {
	color: Ghostwhite;
	padding-top: 2px;
}

/*footer background*/
.footer-bg {
	background-color: #41394f;
	height: 200px;
}
footer img {
	float: right;
	width: 32px;
	height: 32px;
	margin: 0px 20px;
	display: flex;
}
#mail {
	margin-top: 2px;
	width: 48px;
}
#github {
	margin-top: 2px;
}
footer h5 {
	font-family; "Ubuntu", sans-serif;
	font-weight: 400;
	color: white;
	text-align: center;
	border: 1px solid white;
	border-radius: 10px;
	padding: 4px;
}
footer h5:hover {
	color: black;
	background: white;
}
footer h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
}

/*mid section*/
#name {
	height: 40em;
	background-color: #EFFBFB;
	margin: 0px;
	display: flex;
	justify-content: center;
	position: relative;
}
#name h1 {
	font-family: 'Asap', sans-serif;
	font-size: 128px;
	text-align: center;
}
#name h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: 300;
	letter-spacing: 5px;
	text-align: center;
}
#welcome {
	font-family: 'Asap', sans-serif;
	font-size: 90px;
	text-align: center;
	margin-bottom: 32px;
}
.line {
	border: 1px solid black;
	background-color: black;
}
#about, #blog, #projects, #resume {
	margin-bottom: 5em;
}
#about-info, #blog-info, #projects-info, #resume-info {
	margin-top: 1em;
}
#construct {
	margin-top: -100px;
	margin-left: 500px;
}

.noview {
	opacity: 0;
}
.slideUp {
	animation-name: slideUp;
	animation-duration: 2s;
}

/*initial animation*/
@-webkit-keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(70%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

/*get rid of the derp underlines on hover*/
.smoothScroll:hover {
	text-decoration: none;
}