* {
	/*Debug: enable below line to see all boxes*/
	/*border: 1px solid rgba(0, 0, 0, 0.3);*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*header*/
#header-bg {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 800px;
	height: 85px;
	z-index: 1;
}
header .row, footer .row {
	display: flex;
	align-items: center;
	padding: 20px 0px;
}
header nav {
	display: flex;
	justify-content: center;
}
header p, footer p {
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 200%;
	padding: 0px 20px;
	margin: 0px;
}
/*footer background*/
.footer-bg {
	background-color: #41394f;
	height: 210px;
}
footer img {
	float: right;
	width: 48px;
	height: 48px;
	margin: 0px 20px;
	display: flex;
}
#mail {
	margin-top: 2px;
	width: 72px;
}
#github {
	margin-top: 2px;
}
footer h6 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: white;
	display: flex;
	justify-content: center;
}

/*mid section*/
#name {
	height: 420px;
	background-color: #EFFBFB;
	padding-top: 85px;
	margin-bottom: 0px;
	display: flex;
	justify-content: center;
	position: relative;
}
#name h1 {
	font-family: 'Asap', sans-serif;
	font-size: 128px;
	text-align: center;
}
#name h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 36px;
	letter-spacing: 5px;
	text-align: center;
}
#welcome {
	font-family: 'Asap', sans-serif;
	font-size: 90px;
	text-align: center;
	margin-bottom: 32px;
}
.line {
	border: 1px solid black;
	background-color: black;
}
#about, #blog, #projects, #resume {
	margin-bottom: 5em;
}
#about-info, #blog-info, #projects-info, #resume-info {
	margin-top: 1em;
}

.default_header {
	opacity: 1;
}
.noview {
	opacity: 0;
}
.slideUp {
	animation-name: slideUp;
	animation-duration: 2s;
}
.invis {
	animation-name: disappear;
	animation-duration: 1s;
	opacity: 0;
}

/*initial animation*/
@-webkit-keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(40%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}
@-webkit-keyframes disappear {
	from {
		opacity: 1;
	} 
	to {
		opacity: 0;
	}
}