#bar {
	background-color: #3c78d8ff;
	height: 2vh;
	width: 100%;
}

#nav {
	padding: 1vh;
	overflow: hidden;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
	width: 67%;
	border-radius: 2vh;
}

.list-inline {
	margin: 2vh auto 2vh auto;
	padding-left: 1%;
}

li {
	font-size: 1.25vw;
}

a:hover {
	text-decoration: none;
	color: #283593;
}

.active {
	color: #B0BEC5;
}
.active:hover {
	color: #757575;
}

#content {
	width: 100vw;
}
#core {
	width: 60%;
}

body h1 {
	text-align: center;
	font-family: "Lato", sans-serif;
	font-size: 3.5vw;
	font-weight: 900;
	margin-top: 0px;
	margin-bottom: 2vh;
}

body p {
	font-family: "Roboto", sans-serif;
	font-size: 1.4vw;
	margin-bottom: 2vh;
} 

body h3 {
	text-align: left;
	font-size: 1.4vw;
	margin: 10%;
}

.box {
	border: 0.1vw solid rgba(0, 0, 0, 0.3);
	border-radius: 2vh;
}

.row {
	margin-bottom: 5vh;
}

/*navbar*/
section ul {
	display: flex;
	justify-content: center;
	margin: 60px 0px;
}
section li {
	display: inline;
	padding: 20px 40px;
	margin: 0px 40px;
	font-family: 'Asap', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 1px solid black;
	background-color: white;
	color: #58ACFA;
}
section li:hover {
	background-color: black;
	color: white;
}

/*Images*/
section .row {
	margin: 40px 0px;
}
section p {
	margin-top: 10px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 20px;
}
section img {
	height: 240px;
	min-width: 100%;
	min-height: 1280px;
}
/*projects*/
#interitus, #infi, #robo, #web, #whs {
	animation-name: slideUp;
	animation-duration: 1s;
}
/*Descriptions*/
#interitus-button, #infi-button, #robo-button, #web-button, #whs-button {
	text-align: right;
}
#interitus-button:hover, #infi-button:hover, #robo-button:hover, #web-button:hover, #whs-button:hover {
	cursor: pointer;
	color: #58ACFA;
}
#interitus-info, #infi-info, #robo-info, #web-info, #whs-info {
	display: none;
}
.video {
	padding-left: 5em;
}

/*animations*/
/*initial animation*/
@-webkit-keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(70%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}
/*animation on click of more info*/
@-webkit-keyframes slideDown {
	0% {
		opacity: 0;
		transform: translateY(-70%);
	} 
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@-webkit-keyframes slideBack {
	0% {
		opacity: 1;
		transform: translateY(0%);
	}
	100% {
		opacity: 0;
		transform: translateY(-70%);
	}
}

/*get rid of the derp underlines on hover*/
.smoothScroll:hover {
	text-decoration: none;
}