#bar {
	background-color: #3c78d8ff;
	height: 2vh;
	width: 100%;
}

#nav {
	padding: 1vh;
	overflow: hidden;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
	width: 67%;
	border-radius: 2vh;
}

.list-inline {
	margin: 2vh auto 2vh auto;
	padding-left: 1%;
}

li {
	font-size: 1.25vw;
}

a:hover {
	text-decoration: none;
	color: #283593;
}

.active {
	color: #B0BEC5;
}
.active:hover {
	color: #757575;
}

#content {
	width: 80vw;
}