* {
	/*Debug: enable below line to see all boxes*/
	/*border: 1px solid rgba(0, 0, 0, 0.3);*/
	margin: 0;
	padding: 0;
}

/*set the background image*/
body {
	background: url("background.jpg") no-repeat;
	background-size: cover;
}

/*header*/
.header-bg {
	background-color: black;
}

header .row {
	display: flex;
	align-items: center;
	padding: 20px 0px;
}
header h1 {
	color: white;
	font-family: "Lato", sans-serif;
	font-weight: 900;
	margin: 0;
}
header nav {
	display: flex;
	justify-content: flex-end;
}
header p {
	color: Gainsboro;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	padding: 0px 20px;
	margin: 0px;
}
/*change color on hover*/
header p:hover {
	color: Ghostwhite;
}
/*move down like a button when clicked*/
header p:active {
	padding-top: 2px;
}

/*section*/
section {
	display: flex;
	justify-content: center;
	margin-top: 75px;
}