* {
	/*Debug: enable below line to see all boxes*/
	/*border: 1px solid rgba(0, 0, 0, 0.3);*/
	margin: 0;
	padding: 0;
}

/*header*/
.header-bg {
	background-color: black;
}
header .row, footer .row {
	display: flex;
	align-items: center;
	padding: 20px 0px;
}
header h1 {
	color: white;
	font-family: "Lato", sans-serif;
	font-weight: 900;
	margin: 0;
}
header nav {
	display: flex;
	justify-content: flex-end;
}
header p, footer p {
	color: Gainsboro;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	padding: 0px 20px;
	margin: 0px;
}
/*change color and move on hover*/
header p:hover, footer p:hover {
	color: Ghostwhite;
	padding-top: 2px;
}

/*footer background*/
.footer-bg {
	background-color: #41394f;
	height: 200px;
}
footer img {
	float: right;
	width: 32px;
	height: 32px;
	margin: 0px 20px;
	display: flex;
}
#mail {
	margin-top: 2px;
	width: 48px;
}
#github {
	margin-top: 2px;
}
footer h5 {
	font-family; "Ubuntu", sans-serif;
	font-weight: 400;
	color: white;
	text-align: center;
	border: 1px solid white;
	border-radius: 10px;
	padding: 4px;
}
footer h5:hover {
	color: black;
	background: white;
}
footer h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
}

/*mid section*/
#name {
	height: 1000px;
	background-color: #EFFBFB;
	margin: 0px;
	display: flex;
	justify-content: center;
	position: relative;
}
#name h1 {
	font-family: 'Asap', sans-serif;
	font-size: 128px;
	text-align: center;
}
#name h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 26px;
	letter-spacing: 5px;
	text-align: center;
}