* {
	/*border: 1px solid rgba(0, 0, 0, 0.3);*/
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background: url("background.jpg");
	background-size: cover;
}

header {
	padding: 20px;
}

header .row,
footer .row {
	display: flex;
	align-items: center;
}

header h1 {
	font-weight: 700;
	margin: 0px;
}

header nav {
	display: flex;
	justify-content: flex-end;
}

header p {
	padding: 20px;
	margin: 0px;
}

#profile-img {
	border-radius: 25%;
	width: 128px;
	height: 128px;
}

footer {
	font-size: 12px;
	padding: 20px;
}

footer .col-sm-8 {
	display: flex;
	justify-content: flex-end;
}

footer ul {
	list-style: none;
}

footer li img {
	width: 32px;
	height: 32px;
}